div[mat-list-item] .mat-list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
}

div[mat-list-item] .mat-list-item-content h2 {
    margin: 0;
}

a[mat-list-item] .mat-list-item-content,
button[mat-list-item] .mat-list-item-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}