<div class="main-container">
    <h1 class="header-text">Sign Up</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" required>
            <mat-error [hidden]="name?.invalid">
                name field is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="example@gmail.com" required>
            <mat-error [hidden]="email?.invalid">
                @if (email?.hasError('email')) {
                    email is not valid.
                } @else {
                    email field is required.
                }
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error [hidden]="password?.invalid">
                @if (password?.hasError('minLength')) {
                    password must be at least 6 characters.
                } @else {
                    password field is required.
                }
            </mat-error>
        </mat-form-field>
        <button [disabled]="signUpForm.invalid || loading" mat-raised-button color="primary">        
            <mat-icon>add</mat-icon>
            Sign Up
        </button>
        <div class="bottom-text">
            Already have an account ? <a mat-flat-button color="accent" routerLink="/signin">Sign in</a>
        </div>
        @if (loading) {
            <div class="spinner-container">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
        }
    </form>
</div>